@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #fff;
  font-family: "Helvetica","Arial",sans-serif;
}

h1,
.reveal h1,
h2,
.reveal h2,
h3,
.reveal h3,
h4,
.reveal h4,
h5,
.reveal h5,
h6,
.reveal h6 {
  font-family: Lato, sans-serif;
  text-transform: none;
}

.reveal ul {
  padding: 0 40px;
}
#gp-logo img {
  max-height: 100px;
}
